<h2>Merchants</h2>
<div class="merchants--container">
  <% for merchant in @merchants %>
  <div class="merchants--box">
    <p><%= merchant.name %></p>
  </div>
  <% end %>
</div>

<h2>Tags</h2>
<div class="tags--container">
  <% for tag in @tags %>
  <div class="tags--box">
    <p><%= tag.name %></p>
  </div>
  <% end %>

</div>
