<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <nav>
    <ul>
    <li><a href="/budget">Current Budget</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/merchants_and_tags">Merchants and Tags</a></li>
    </ul>
    </nav>
  <body>
    <%= yield %>
  </body>
</html>
