/* Contains styling for all nav and header elements */
header, nav {
  font-family: 'Dosis', sans-serif;
  background-color: #E4F4D2;

  font-weight: bold;
}

/* Header elements */
header {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.5em;
  font-weight: bold;
  background-image: linear-gradient(to top, #e4f4d2, #abe5c9, #66d4d3, #0ebee6, #39a0ed);
  background-image: linear-gradient(to top, #e4f4d2, #c5f1d8, #aaece6, #9be3f6, #a3d7ff);
  color: #D8B800;
  background-color: #E4F4D2;
   text-shadow: 0.07em 0.05em #58355E;

  padding: 0.2em 0;

}


/* Navigation Elements */
nav {
  padding-bottom: 0.4em;
  /* background-image: linear-gradient(to bottom, #e4f4d2, #abe5c9, #66d4d3, #0ebee6, #39a0ed); */
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
  margin: 0 1em;

  border-style: solid;
  border-radius: 1em;
  border-width: 0.1em;
  border-color: #D8B800;

  padding: 0.1em 1em;
}

nav a {
  text-transform: none;
  text-decoration: none;
  color: #58355E;
}

a:hover{
  text-shadow: 0.1em 0.1em #D8B800;
}
