.container--merchants_and_tags{
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.merchantsbox, .tags--box {
  border-bottom: 0.05em solid #D8B800;
  margin-top: 1em;
  padding-bottom: 0.5em;
  width: 10em;
  text-align: center;
}

.merchantsbox p{
  margin: 0.5em auto;
}

.tags--box p{
  margin: 0.5em auto;
}

.merchantsbox img {
  display:inline;
}

button a{
  color: black;
  text-decoration: none;
  margin: 0.5em;
}
