.container--merchants_and_tags{
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.05em solid #D8B800;
  border-right:0.05em solid #D8B800;
  padding: 0 1em;
}

.merchants h2{
  margin-bottom: 0.5em;
}

.tags h2 {
  margin-bottom: 0.5em;
}

.merchants--form {
  margin-bottom: 0.5em;
}

.tags--form {
  margin-bottom: 0.5em;
}


.merchantsbox, .tags--box {
  border-bottom: 0.05em solid #D8B800;
  margin-top: 1em;
  padding-bottom: 0.5em;
  width: 10em;
  text-align: center;
}



.tags h2 {
  margin-bottom: 0.5em;
}

.merchantsbox p{
  margin: 0.5em auto;
  font-weight: bold;
}

.tags--box p{
  margin: 0.5em auto;
  font-weight: bold;
}

.merchantsbox img {
  display:inline;
}

button a{
  color: black;
  text-decoration: none;
  margin: 0.5em;
}
